* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: blue;
}

.Calendar {
  height: 100%;
  width: 100%;
  background-color: lightgray;
}

.monthNavigator {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
}

.dayNavigator {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 jours de la semaine */
  background-color: blue;
}
